<div class="container">
    <div class="row p-2">
        <h2 class="text-center">All Folders</h2> 
    </div>
    <div class="row p-2">
      <p class="text-center">Here lies all of the folders you have created. You can delete them or open them to see what's inside.</p> 
      <br>
      <p class="text-center" id="delInfo"></p>
    </div>
    <div class="row p-2">
        <a type="button" id="startDel" class="btn btn-outline-secondary"> Edit </a> 
        <a type="button" id="doneEdit" class="btn btn-outline-danger" style="display:none;"> Done </a> 
    </div>
    <div id = "cardGrid" class="row row-cols-1 row-cols-md-auto g-4">
      <div class="col">
        <a type="button" class="d-flex flex-column justify-content-center align-items-center btn btn-outline-secondary" style="width: 12rem; height:14rem;" data-bs-toggle="modal" data-bs-target="#folderAddModal">
          <div class="folderIcons"><i class="bi bi-folder-plus"></i></div>
          <span> Add a new Folder </span>
        </a>
      </div>
      {{#each folders}}
      <div class="col" style="height: 14rem;">
        <a href="/folders/deleteFolder/{{this.id}}" class="btn btn-outline-danger deleteThisItem" style="visibility: hidden;"><i class="bi bi-x-lg"></i></a>
        <a href="/folders/{{this.id}}" style="width: 12rem;" class="btn d-flex flex-column justify-content-start align-items-center">
          <span class="{{this.color}} folderIcons">
            <i class="bi bi-folder2"></i>
          </span>
          <h5 class="titleRestrict">{{this.name}}</h5>
        </a>
      </div>
      {{/each}}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="folderAddModal" tabindex="-1" aria-labelledby="folderAddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="folderAddModalLabel">Add a new folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="newFolderForm"method="POST" action="/folders/newFolder">
      <div class="modal-body d-flex flex-column justify-content-start align-items-center">
            <span id="folderIcon" class="fc-black"><i class="bi bi-folder2"></i></span>
            <label class="col-2 sr-only" for="newName">New Title:</label>
            <input type="text" id="newName" name="folderName" class="form-control" placeholder="Add a new title" maxlength="35" required></input>
            <label class="col-2" for="colors">Color:</label>
            <select class="form-control  col-4" id="colors" name="folderColor" form="newFolderForm">
                <option value="fc-black">Black</option>
                <option value="fc-red">Red</option>
                <option value="fc-yellow">Yellow</option>
                <option value="fc-green">Green</option>
                <option value="fc-blue">Blue</option>
                <option value="fc-purple">Purple</option>
            </select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create Folder</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script src="/javascript/folders.js"></script>
<script src="/javascript/titleRestrict.js"></script>
<script src="/javascript/revealDelete.js"></script>