<p>
    Hi {{user.username}}.
    <br/>
    <a type="button" class="btn btn-outline-secondary" href="/notes/newNote"> Create a New Note</a>
    <a type="button" class="btn btn-outline-secondary" href="/lists/newList"> Create a New List</a>
</p>