<div class="container">
	{{#if error}}
	<div class="row justify-content-center" style="width: 92vw;">
		<div class="alert alert-danger" role="alert">
			{{error}}
		</div>
	</div>
	{{/if}}
	<div class="row justify-content-center">
		<form id="login-form" method="POST" action="/login">
			<div class="form-row pb-4">
				<h2 class="text-center">Login</h2> 
			</div>
			<div class="form-group row p-2">
				<label for="inputUsername" class="col-3 col-form-label">Username</label>
				<div class="col-9">
					<input name="username" type="text" id="inputUsername" class="form-control" placeholder="Enter Username" required>
				</div>
			</div>
			<div class="form-row row p-2 mb-6">
				<label for="inputPassword" class="col-3 col-form-label">Password</label>
				<div class="col-9">
					<input name="password" type="password" id="inputPassword" class="form-control" placeholder="Enter Password" required>
				</div>
			</div>
			<div class="form-row row justify-content-center align-items-center" style="height: 5rem;">
				<button type="submit" class="btn btn-primary" style="width: 15rem;">Login</button>
			</div>
			<div class='form-row row justify-content-center' style="width: 30vw;">
				<span> Don't have an account? 
					<a href="/register">Register</a>. 
				</span>
			</div>
		</form>
	</div>
</div>

