<form id = "wrapper" method="POST" action="/login">
	<div class="row align-items-center">
		<div class="col-auto">
			<label for="inputUsername" class="col-form-label">Username</label>
		</div>
		<div class="col-auto">
			<input name="username" type="text" id="inputUsername" class="form-control" required>
		</div>

	</div>
	<div class="row align-items-center">
		<div class="col-auto">
			<label for="inputPassword" class="col-form-label">Password</label>
		</div>
		<div class="col-auto">
			<input name="password" type="password" id="inputPassword" class="form-control" required>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
	<div class='form-row'>Don't have an account? <a href="/register">Register</a>.</div>
</form>
