#bd{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#cardGrid{
	padding-top: 1em;
}

#login-form {
	margin-top:1em;
	width: 30vw;
	margin-bottom:1em;
	padding: 1em 3em;
	background-color: azure;
}

/*
a {
  color: #0073AA;
}



#wrapper {
	width:500px;
	padding:2em;
	text-align: center;
}
*/