#bd{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#cardGrid{
	padding-top: 1em;
}

#login-form {
	margin-top:1em;
	width: 30rem;
	margin-bottom:1em;
	padding: 1em 3em;
	background-color: rgb(223, 223, 223);
}

#wrapper {
	width:500px;
	padding:2em;
	text-align: center;
}

/*
a {
  color: #0073AA;
}




*/